<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Vote</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>signServlet</servlet-name>
    <servlet-class>servlet.signServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>signServlet</servlet-name>
    <url-pattern>/servlet/signServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>servlet.loginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/servlet/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>findServlet</servlet-name>
    <servlet-class>servlet.findServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>findServlet</servlet-name>
    <url-pattern>/servlet/findServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>dealVoteServlet</servlet-name>
    <servlet-class>servlet.dealVoteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dealVoteServlet</servlet-name>
    <url-pattern>/servlet/dealVoteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>banVoteServlet</servlet-name>
    <servlet-class>servlet.banVoteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>banVoteServlet</servlet-name>
    <url-pattern>/servlet/banVoteServlet</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>creatVoteServlet</servlet-name>
    <servlet-class>servlet.creatVoteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>creatVoteServlet</servlet-name>
    <url-pattern>/servlet/creatVoteServlet</url-pattern>
  </servlet-mapping>
</web-app>